* {
    box-sizing: border-box;
    max-width: 100%;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
header .header-bg {
    background: url(img/Header-background.jpg) no-repeat center center / cover;
    height: 100vh;
}
.header-Heading {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 72px;
}
header .header-Heading::after {
    content: "";
    background: #fff;
    height: 6px;
    width: 150px;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
header .header-bg .header-menu {
    height: 100%;
    width: 100%;
}
header {
    max-width: auto;
}
header .header-btn a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    background: linear-gradient(to right, #68078a, #890083);
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    margin: 0 25px;
}
header .header-menu h1, header .header-menu h3, header .header-menu .header-btn {
    padding: 0 0 80px;
    margin: 0;
} 
#pindias-homepage {
    background: #e6e6e6;
}
section {
    padding: 80px 0;
}
.urRealEstate-Heading {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    background: -webkit-linear-gradient(#68078a, #890083);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#pindias-homepage .header-Heading::after {
    content: "";
    background: #fff;
    height: 6px;
    width: 150px;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
#pindias-homepage .urRealEstate .pickBar {
    background: url(img/pickBar-bg.jpg) center center / cover;
    width: 100%;
}
#pindias-homepage .urRealEstate .urRealEstate-Heading::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    background: #800079;
    bottom: -20px;
    right: 50%;
    transform: translateX(50%);
}
#pindias-homepage .urRealEstate-content {
    background: #fff;
}
#pindias-homepage .urRealEstate .villa-list .villa {
    position: relative;
    margin: 20px 20px;
}
#pindias-homepage .urRealEstate .villa-list .villa::before {
    content: "";
    background: #990066;
    position: absolute;
    display: block;
    left: 0;
    width: 12px;
    height: 65px;
    top: 70%;
}
#pindias-homepage .urRealEstate .villa-list .villa .villa-content {
    position: absolute;
    z-index: 3;
    background: rgba(153, 0, 102, 0.5);
    color: #fff;
    text-transform: uppercase;
    display: block;
    top: 70%;
    left: 12px;
    width: 70%;
    height: 65px;
    margin: 0;
}
#pindias-homepage .urRealEstate .urRealEstate-content .villa .show-info {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    left: 8px;
    top: 65px;
}
#pindias-homepage .jointInvest .jointInvest-list .building .show-info {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    left: 14px;
    top: 40px;
    text-align: start;
}
#pindias-homepage .jointInvest .jointInvest-list .building img {
    background: url(img/matrix-bg.png) no-repeat center center / cover;
    width: 100%;
    height: 100%;
}
#pindias-homepage .jointInvest-list .building-list .building:hover .building-content {
    opacity: 0;
}
#pindias-homepage .jointInvest-list .building-list .building:hover:before {
    opacity: 0;
}

#pindias-homepage .urRealEstate .urRealEstate-content .villa .show-info .detail-btn {
    color: #610977;
    background: #fff;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 14px;
}
#pindias-homepage .jointInvest .jointInvest-list .building .show-info .detail-btn  {
    color: #610977;
    background: #fff;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 14px;
}
#pindias-homepage .urRealEstate .urRealEstate-content .villa .show-info h3, #pindias-homepage .urRealEstate .urRealEstate-content .villa .show-info p {
    left: 50px;
}
#pindias-homepage .urRealEstate .urRealEstate-content .villa .show-info .sub-title::before {
    content: "";    
    background: #fff;
    position: absolute;
    height: 1px;
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
    top: 41%;
    display: block;
}
#pindias-homepage .urRealEstate .urRealEstate-content .villa .show-info .detail-villa ul li {
    list-style: none;
}
#pindias-homepage .urRealEstate .villa-list .villa .villa-content .title {
    font-size: 18px;
    font-weight: 700;
}
#pindias-homepage .urRealEstate .villa-list .villa .villa-content .content {
    font-size: 16px;
    font-weight: 400;
}
#pindias-homepage .urRealEstate .urRealEstate-content .villa::after, #pindias-homepage .jointInvest .jointInvest-list .building::after {
    background: #920071;
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    opacity: 0;
}
#pindias-homepage .urRealEstate .urRealEstate-content .villa:hover::after, #pindias-homepage .jointInvest .jointInvest-list .building:hover::after {
    opacity: 0.5;
}
#pindias-homepage .urRealEstate .urRealEstate-content .villa:hover .show-info, #pindias-homepage .jointInvest .jointInvest-list .building:hover .show-info {
    z-index: 3;
    opacity: 1;
}
#pindias-homepage .urRealEstate .urRealEstate-content .villa:hover .villa-content, #pindias-homepage .urRealEstate .urRealEstate-content .villa:hover::before {
    opacity: 0;
}
#pindias-homepage .jointInvest .jointInvest-banner {
    background: url(img/jointInvest-banner.jpg) no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#pindias-homepage .jointInvest .jointInvest-banner {
    padding-bottom: 40px;
}
#pindias-homepage .jointInvest .jointInvest-banner .banner-content {
    padding: 55px 0;
}
#pindias-homepage .jointInvest .jointInvest-banner .banner-content .join-btn-wrap .join-btn {
    color: #660066;
    background: #fff;
    font-size: 20px;
    font-weight: 800;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
}
#pindias-homepage .jointInvest .jointInvest-banner .banner-content .join-btn-wrap {
    padding-top: 36px;
}
#pindias-homepage .jointInvest .jointInvest-banner .jointInvest-banner-heading {
    font-size: 48px;
    font-weight: 800;
}
#pindias-homepage .jointInvest .jointInvest-banner .jointInvest-banner-subHeading {
    font-size: 36px;
    font-weight: 400;
}
#pindias-homepage .jointInvest .jointInvest-banner .jointInvest-banner-subHeading::after {
    content: "";
    background: #fff;
    height: 4px;
    width: 173px;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
}
#pindias-homepage .jointInvest-list .building-list .building {
    position: relative;
    margin: 20px 20px;
}

#pindias-homepage .jointInvest-list .building-list .building .building-content {
    position: absolute;
    z-index: 3;
    background: rgba(153, 0, 102, 0.5);
    color: #fff;
    text-transform: uppercase;
    display: block;
    top: 70%;
    left: 12px;
    width: 70%;
    height: 65px;
    margin: 0;
}
#pindias-homepage .jointInvest-list .building-list .building::before {
    content: "";
    background: #990066;
    position: absolute;
    display: block;
    left: 0;
    width: 12px;
    height: 65px;
    top: 70%;
}
#pindias-homepage .project-list {
    background: #43045b no-repeat center center / cover;
    max-width: 100%;
    height: auto;
    padding: 0 20px;
}
#pindias-homepage .project-list .project-top {
    background: linear-gradient(to right, #600681, #82047c) top center / cover;
    height: 80px;
    width: 100%;
}
#pindias-homepage .project-list .project-top .prev-next {
    color: #fff;
    margin: 0 20px;
}
#pindias-homepage .project-list .project-top h3 {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(to right, #600681, #80007a);
    padding: 5px 50px;
}
#pindias-homepage .project-list .project-top p {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #b2007a;
    padding: 10px 10px;
    text-transform: uppercase;
}
#pindias-homepage .project-list .project-top i {
    background: #b2007a;
    padding: 13px 17px;
    display: inline-block;
}
#pindias-homepage .project-list .project-top .PRJ {
    background: #4f056a;
    padding: 16px 16px;
}
#pindias-homepage .project-list .project-top .PRJ-more {
    padding-right: 20px;
}
#pindias-homepage .project-list .project-bottom .project-list-content .project-content {
    background: #fff;
    color: #58595b;
    padding: 20px;
}
#pindias-homepage .project-list .project-bottom .project-list-content .project-content h3 {
    font-size: 30px;
    font-weight: 700;
    padding-left: 15px;
    border-left: 10px solid #920071;
    margin: 0;
}
#pindias-homepage .project-list .project-top p::after {
    content: "";
    position: absolute;
    color: black;
    height: 5px;
    width: 50px;
}
#pindias-homepage .project-bottom .project-list-content .project-img, #pindias-homepage .project-bottom .project-list-content .project-content {
    max-width: 50%;
}
#pindias-homepage .project-list .project-bottom .detail-btn {
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 45%;
    background: linear-gradient(to right, #600681, #80007a);
    border-radius: 5px;
    padding: 12px 27px;
    opacity: 0;
    z-index: 3;
}
#pindias-homepage .project-bottom .project-list-content .project-info:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 10px solid purple;
    background: #80007f80;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #610682, #800079);
}
#pindias-homepage .project-bottom .project-list-content .project-info1:hover a, #pindias-homepage .project-bottom .project-list-content .project-info2:hover a  {
    opacity: 1;
}
#pindias-homepage .project-list .project-bottom .project-list-content .project-info2, #pindias-homepage .project-list .project-bottom .project-list-content .project-info1 {
    margin: 40px 0;
}
#pindias-homepage .news {
    padding: 80px 32px;
}
#pindias-homepage .news .news-top {
    background: url(img/jointInvest-under-banner.jpg) no-repeat content-box;
    width: 100%;
    height: auto;
    border: 1px solid #bcbec0;
}
#pindias-homepage .news .news-top .news-news {
    border: 1px solid #80007a;
    padding: 15px 18px;
    background: #fff;
    display: inline-block;
}
#pindias-homepage .news .news-top .news-news h3 {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    background: linear-gradient(to right, #600681, #80007a);
    padding: 5px 75px;
    vertical-align: middle;
}
#pindias-homepage .news .news-top .all-news h3 {
    font-size: 18px;
    font-weight: 500;
    color: #80007a;
    padding: 10px 15px;
    vertical-align: middle;
    border: 1px solid #bcbec0;
    display: inline-block;
    background: #fff;
}
#pindias-homepage .news .news-top .all-news {
    padding-right: 19px;
}
#pindias-homepage .news .content {
    background: #fff;
    padding: 40px 30px ;
    width: 50%;
}
#pindias-homepage .news .content .content-title {
    font-size: 27px;
    font-weight: bold;
    color: #58595b;
}
#pindias-homepage .news .content .content-content {
    font-size: 15px;
    font-weight: 400;
    color: #636466;
    margin: 50px 0 0 0;
    line-height: 1.1;
    border-left: 11px solid #920071;
    padding-left: 25px;
}
#pindias-homepage .news .news-img {
    width: 50%;
}
#pindias-homepage .news .content a {
    background: linear-gradient(to right, #600681, #80007a);
    padding: 10px 25px;
    border-radius: 5px;
}
#pindias-homepage .news-bottom .wrapper .wrapper-content h3, #pindias-homepage .news-bottom .wrapper .wrapper-content p {
    line-height: 1.1;
}
#pindias-homepage .news-bottom .wrapper .wrapper-content h3 {
    border-left: 3px solid #80007a;
}
#pindias-homepage .news-bottom .wrapper .wrapper-content {
    align-self: center;
    padding: 10px;
}
#pindias-homepage .right .right-news-img {
    width: 40%;
}
#pindias-homepage .news-bottom .left-content .news-btn {
    padding-top: 50px;
}
#pindias-homepage .news-bottom .left-content .news-btn a {
    color: #fff;
}
#pindias-homepage .right .wrapper {
    background: #fff;
    position: relative;
}
#pindias-homepage .right .wrapper:hover:before, #pindias-homepage .news-bottom .left-content:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #80007a80;
}
#pindias-homepage .news-bottom .wrapper .left-content:hover .content-title, #pindias-homepage .news-bottom .wrapper .left-content:hover .content-content {
    color: #fff;
    position: relative;
    z-index: 1;
}
#pindias-homepage .news-bottom .wrapper .left-content:hover .content-content {
    border-left: 11px solid #fff;
}
#pindias-homepage .news-bottom .wrapper .left-content:hover .news-btn a {
    background: #fff;
    position: relative;
    z-index: 1;
    color: #6f047e;

}
#pindias-homepage .right .wrapper:hover .wrapper-content h3, #pindias-homepage .right .wrapper:hover .wrapper-content p {
    position: relative;
    z-index: 1;
    color: #fff;
}
#pindias-homepage .right .wrapper:hover .wrapper-content h3 {
    border-left: 3px solid #fff;
}
#pindias-homepage .right .wrapper-content h3 {
    font-size: 17px;
    font-weight: bold;
    color: #58595b;
    padding-left: 7px;
}
#pindias-homepage .right .wrapper-content p {
    font-size: 15px;
    font-weight: 400;
    color: #6e6f71;
    margin: 0;
    padding-left: 10px;
}
#pindias-homepage .news-bottom {
    padding-top: 40px;
}
#pindias-homepage .news-bottom .wrapper {
    padding-right: 40px;
}
#pindias-homepage .partner .banner {
    background: url(img/partner-banner.jpg);
    width: 100%;
    height: auto;
    border: 1px solid #bcbec0;
}
#pindias-homepage .partner .banner .partner-title {
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(to right, #610682, #800079);
    display: inline-block;
    padding: 4px 65px;
    text-align: center;
}
#pindias-homepage .partner .banner .white-border {
    background: #fff;
    padding: 16px 16px;
    border-right: 1px solid #bcbec0;
    border-left: 1px solid #bcbec0;
    display: inline-block;
    transform: translateX(50%);
}
#pindias-homepage .partner .banner .prev-next {
    display: inline;
    vertical-align: middle;
}
#pindias-homepage .partner .banner .prev-next i {
    border: 1px solid #bcbec0;
    background: #fff;
    color: #610682;
    padding: 18px 20px;
    margin-right: 20px;
}
#pindias-homepage .partner {
    background: #fff;
}
#pindias-homepage .partner .partner-logo div:nth-child(n+1):hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 10px solid purple;
    background: #80007f80;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #610682, #800079);
}
#pindias-homepage .partner .partner-logo {
    margin-top: 40px;
}
#pindias-homepage .partner .partner-logo div:nth-child(n+1) {
    display: block;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    padding: 10px 0;
}
#pindias-homepage .partner .partner-logo div:nth-child(-n+5) {
    border-right: 1px solid #bcbec0;
}

#pindias-homepage .partner .partner-logo {
    border: 1px solid #bcbec0;
}
#pindias-homepage .info-receive {
    background: linear-gradient(to right, #660099, #990066);
    width: 100%;
    height: auto;
}
#pindias-homepage .info-receive .info-content {
    font-size: 24px;
}
#pindias-homepage .info-receive .info-input-form .input-group {
    margin-left: 70px;
    padding: 45px 0;
}
#pidias-homepage .info-receive .info-input-form .input-group .input-group-text {
    background: #610682;
}
#pindias-homepage .sub-footer {
    background: #fff;
    width: 100%;
    height: auto;
}
#pindias-homepage .menu-top .sub-footer .connect-with-me ul li {
    list-style: none;
    padding: 0 25px;
}
#pindias-homepage .sub-footer h4 {
    text-transform: uppercase;
    color: #660066;
    font-size: 20px;
    font-weight: bold;
}
#pindias-homepage .sub-footer .navigate .nav-content ul {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
}
#pindias-homepage .sub-footer .navigate .nav-title h4::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 70%;
    background: #5e0b7b;
    right: 2%;  
    top: 50%;
}
#pindias-homepage .sub-footer {
    padding: 70px 0;
}
#pindias-homepage .sub-footer .connect-with-me h4::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 35%;
    background: #5e0b7b;
    top: 50%;
    right: 2%;
}
#pindias-homepage .sub-footer .connect-with-me .social::after {
    content: "";
    position: absolute;
    width: 99%;
    height: 1px;
    background: #5e0b7b;
}
#pindias-homepage .sub-footer .p1, #pindias-homepage .sub-footer .p2, #pindias-homepage .sub-footer .p3, #pindias-homepage .sub-footer .p4 {
    padding: 0 40px;
}
#pindias-homepage .sub-footer .certificate {
    padding-top: 20px;
}
#pindias-homepage .sub-footer .download .appstore-lg, #pindias-homepage .sub-footer .download .ggplay-lg {
    padding-bottom: 25px;
}
footer .info-footer {
    background: #4c4c4c;
    width: 100%;
    height: auto;
}
footer .info-title h4 {
    font-size: 20px;
    font-weight: bold;
}
footer .infomation .address {
    font-size: 18px;
    font-weight: 400;
}
footer .information .link ul li, footer .information .infoo ul li {
    list-style: none;
    color: #fff;
}

/*===================== BOOSTRAP OVERRIDE ==================*/

#pindias-homepage .urRealEstate .btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#pindias-homepage .urRealEstate .btn-violet {
    --bs-btn-color: #fff;
    --bs-btn-bg: purple;
    --bs-btn-border-color: purple;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    /* --bs-btn-focus-shadow-rgb: 49,132,253; */
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}